* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

header {
    padding: 50px 240px;
}

header nav {
    border: 1px solid red;
    /* max-width: ; */
}