* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

/* shared style */

/* .display-flex {
    display: flex;
} */

.bg-primary {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn {
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
    cursor: pointer;
}

main>section {
    margin: 130px auto;
}

/* main style */

header {
    padding: 50px 0;
}

.navbar {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-item a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

.brand {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

/* bannner and navabr common designs */

.navbar,
.banner,
.banner-image {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

/* banner styles */

.banner-content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
    margin-top: 100px;
}

.banner-description {
    color: #727272;
    font-size: 1rem;
    margin: 2rem 0;
}

.banner-image img {
    width: 100%;
}

/* team section design */

.team {
    max-width: 1318px;
}

.team-container {
    display: flex;
    align-items: center;
    gap: 73px;
}

.team-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-images img {
    width: 100%;
}

.team-content .team-info {
    max-width: 537px;
    text-align: left;
}

.first {
    color: #727272;
    font-size: 2.8125rem;
    font-weight: 500;
}

.second {
    color: #131313;
    font-size: 2.8125rem;
    font-weight: bold;
}

.third {
    color: #FF900E;
    font-size: 2.8125rem;
    font-weight: bold;
}

.team-title {
    margin-bottom: 1.5rem;
}

.team-description {
    color: #727272;
    font-size: 1rem;
    margin-bottom: 2rem;
}

/* feature section */


.feature-container {
    display: flex;
    align-items: center;
    gap: 8.75rem;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

.feature-content {
    max-width: 36.625rem;
}

.feature-image {
    max-width: 44.25rem;
}

.feature-image img {
    max-width: 100%;
}

.feature-title {
    border-left: 0.3rem solid #FF900E;
    padding-left: 1.25rem;
    margin-bottom: 1.5rem;
    font-size: 2.8125rem;
    font-weight: bold;
    color: #131313;
}

.feature-content .feature-description {
    color: #727272;
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 30px;
}

.feature-cards {
    margin-bottom: 20px;
    padding: 30px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    max-width: 36.625rem;
}

.feature-cards h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #131313;
}

.feature-cards p {
    font-size: 1rem;
    line-height: 26px;
    max-width: 32.125rem;
    color: #727272;
}

#badge {
    padding: 2.8rem 2.6rem;
    margin-top: -9.375rem;
    margin-left: -5.75rem;
}

#badge-year {
    font-size: 4rem;
    font-weight: bold;
    line-height: 4.3rem;
}

#badge-description {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 500;
}

/* faacts section */

.facts-container {
    max-width: 1390px;
    width: 86%;
    margin: 0 auto;
}

.facts-head {
    max-width: 33.8rem;
}

.facts-head h2 {
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
    margin-bottom: 24px;
}

.facts-head p {
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
    margin-bottom: 100px;
}

.facts-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    margin-left: 3.125rem;
    gap: 7.8rem;
}

.facts-cards img {
    max-width: 45px;
    width: 100%;
    margin-bottom: 10px;
}

.facts-cards h4 {
    color: #424242;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 5px;
}

.facts-cards p {
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}

.fact-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15.6rem;
    height: 15.6rem;
    border: 1px solid #FF900E;
    padding: 45px 35px;
    border-radius: 8px;
}

/* sponsor section */

.sponsor-container {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.sponsor-title {
    max-width: 542px;
    margin: 0 auto;
}

.sponsor-title h2 {
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
    margin-bottom: 24px;
}

.sponsor-title p {
    color: #727272;
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 50px;
}

.sponsor-icons {
    display: flex;
    align-items: center;
    gap: 9.6rem;
}

/* footer sectinos design */

.footer-container {
    max-width: 1440px;
    width: 90%;
    background-color: #FFF4E7;
    margin: 130px auto;
    text-align: center;
    padding: 39px 410px;
    border-radius: 8px;
}

.footer-container p {
    color: #424242;
    font-size: 1.25rem;
}

/* for mobile desigbs */

@media screen and (max-width: 576px) {

    .navbar {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .team-container {
        flex-direction: column-reverse;
    }

    .team-images {
        grid-template-columns: repeat(2, 1fr);
    }

    .team-content .team-info {
        text-align: center;
    }

    .feature-container {
        flex-direction: column;
    }

    #badge {
        padding: 2rem 1.8rem;
        margin-top: -8.375rem;
        margin-left: -1.75rem;
    }

    #badge-year {
        font-size: 3rem;
    }

    .facts-container {
        text-align: left;
    }

    .facts-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        margin-left: 0;
    }

    .fact-card {
        width: 200px;
        height: 200px;
    }

    .facts-head p {
        margin-bottom: 50px;
    }

    .sponsor-icons {
        /* flex-direction: column; */
        flex-wrap: wrap;
        gap: 6rem;
    }

    .footer-container {
        padding: 50px;
    }

}